.layout-managementCredit {
  @include display-grid;
  grid-template-rows: auto;
  // background-color: red;
  &__aside {
    border-bottom: 1px solid $veryLightgray;
  }
  &__content {
    height: 100%;
    & .u-wrapper {
      padding: 0;
    }
  }
}

@include media(desktop-s){
  .layout-managementCredit {
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;

    &__aside {
      border-bottom: initial;
      border-right: 1px solid $veryLightgray;
    }
    &__content {
      & .u-wrapper {
        padding: 2em;
      }
    }
  }
}