//Importando fuente Lato and Oswald
@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);

//Variables
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$bg-color-nav: rgba(255, 255, 255, 0.98);
$color-nav: #9E9E9E;
$color-nav-hover: #565656;
$bg-btn-round: #ebebeb;
$bg-btn-roundHover: #1592e6;
$color-btn-round: #505050;
$color-white: #ffffff;
$height-nav: 50px;
$color-claro: #fafafa;
$color-primario: #51a834;
$color-secundario: #12315f;
$bg-navItem: #99c552;
$bg-color-form: linear-gradient(to right, #223a50, #122a3e);
$bg-color-input: #456173;
$color-input: #8098a8;
$color-link: #38a3f8;
$bg-color-footer: #ececeb;
$color-footer: #404040;
$bg-principal: linear-gradient(to right, #223a50, #122a3e);

// Variables del home
$bg-gradient-principal: linear-gradient(to right, #223a50, #122a3e);
$bg-gradient-green: linear-gradient(to bottom, #397e5c, #499e8a);
$limeGreen: #00ac69;
$moderateLimeGreen: #3ac97c;
$darkLimeGreen: #06794f;
$veryDarkLimeGreen: #045537;
$variantGreen: #99C552;
$lightGreen: #e4eed4;
$mostlyDarkBlue: #456173;
$grayishBlue: #a2acba;
$veryDarkGray: #666666;
$veryLightgray: #e3e3e3;
$darkGrayishBlue: #687281;
$lightGrayishBlue: #f0f3f9;
$veryDarkBlue: #1f2d41;