.categoria {
  &__container {
    @include display-grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    grid-gap: 12px;
    margin: 0 auto;
    //Breakpoints tablet
    @include media(tablet) {
      padding: 40px 0 50px 0;
      &:hover .card {
        opacity: 0.5;
      }
      &:hover .card:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    //Breakpoint desktop small
    @include media(desktop-s) {
      grid-gap: 2em 1em;
    }
    //Breakpoint desktop mediano
    @include media(desktop-m) {
  
    }
  }
}