.recItem {
  @include display-grid;
  @include grid-template-columns(24px 1fr);
  @include grid-template-rows(auto);
  grid-template-areas: 'figure title'
  'figure description';
  justify-content: center;
  max-width: 500px;
  padding: 5px 0;
  position: relative;
  margin-left: 12px;
  &__title {
    grid-area: title;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: .8em;
    font-weight: 600;
    font-family: $Fuente2;
    color: $color-primario;
  }
  &__description {
    grid-area: description;
    margin: 0;
    font-size: .8em;
    font-weight: 300;
    line-height: 1.2;
    color: #0a2a5a;
  }
  &__icon {
    grid-area: figure;
    display: flex;
    justify-content: center;
    align-items: center;
    & figure {
      background-color: rgb(225, 228, 232);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -11px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #d6d6d6;
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: rgb(225, 228, 232);
  }
  @include media(tablet) {
    grid-column-gap: 1em;
    &__title {
      font-size: 1.3em;
    }
    &__description {
      font-size: 1em
    }
  }
  @include media(desktop-s) {
    margin-left: 5em;
  }
}